.search-input {
  display: block;
  width: 90%;
  margin: 10px auto;
  padding: 10px;
  background-color: #fafafa;
  font-family: 'Rubik', sans-serif;
  border: 2px solid rgba(35, 118, 174, 0.7);
  border-radius: 15px;
  font-size: 14px;
}
