.popup {
  position: fixed;
  width: 100%;
  min-width: 700px;
  height: 100%;
  min-height: 500px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.5);
}
.popup_inner {
  position: absolute;
  left: 25%;
  right: 25%;
  top: 25%;
  bottom: 25%;
  margin: auto;
  padding: 25px;
  border-radius: 12px;
  background: rgb(250, 250, 250);
  min-height: 500px;
  max-width: 400px;
}

.close-popup-add {
  float: left;
  cursor: pointer;
  position: relative;
  bottom: 15px;
  right: 5px;
  border: none;
}
