.complete-todo-btn {
  margin-top: 5px;
  padding: 6px;
  border-radius: 8px;
  background-color: #2376ae;
  color: rgba(255, 255, 255, 0.9);
  cursor: pointer;
}

.complete-todo-btn:hover {
  background-color: rgb(15, 190, 216);
}
