.trip-form {
  width: 50%;
  min-width: 300px;
  margin: 30px auto;
  margin-top: 15px;
  padding: 18px;
  border-radius: 20px;
  box-shadow: rgb(35, 118, 174) 0 0 10px;
  text-align: center;
}

.trip-form input {
  margin: 8px;
  padding: 6px;
  border-radius: 8px;
}

.trip-form button {
  margin-top: 5px;
  padding: 8px;
  border-radius: 8px;
  background-color: rgb(35, 118, 174);
  color: rgba(255, 255, 255, 0.9);
  cursor: pointer;
}

.trip-form button:hover {
  background-color: rgb(15, 190, 216);
}

.checkmark {
  margin: 10px auto;
}
