.column {
  float: left;
  width: 33.33%;
  border: 1px solid rgba(35, 118, 174, 0.5);
  height: 675px;
}

/* Clear floats after the columns */
.row:after {
  content: '';
  display: table;
  clear: both;
}

table {
  width: 100%;
  border-spacing: 0;
}

th {
  width: 50%;
  background-color: rgb(35, 118, 174);
  color: #ffffff;
  font-size: 24px;
}

td {
  text-align: center;
  padding: 10px;
  font-size: 18px;
}

tr:nth-child(even) {
  background-color: rgba(35, 118, 174, 0.4);
}
