.column {
  float: left;
  width: 33.33%;
  border: 1px solid rgba(35, 118, 174, 0.5);
  height: 700px;
}

/* Clear floats after the columns */
.row:after {
  content: '';
  display: table;
  clear: both;
}

table {
  border-spacing: 0;
  width: 100%;
}

th {
  background-color: rgb(35, 118, 174);
  color: #ffffff;
  font-size: 20px;
}

td {
  text-align: center;
  padding: 10px;
  font-size: 14px;
  cursor: pointer;
  width: calc(100% / 3);
}

tr:nth-child(even) {
  background-color: rgba(35, 118, 174, 0.4);
}

tr:hover {
  box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
}

.dark-mode-row:hover {
  box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.8);
}
