.login-form {
  width: 50%;
  min-width: 300px;
  margin: 50px auto;
  padding: 20px;
  border-radius: 20px;
  box-shadow: rgb(35, 118, 174) 0 0 10px;
  text-align: center;
}

.login-form input {
  margin: 8px;
  padding: 6px;
  border-radius: 8px;
}

.login-form button {
  padding: 8px;
  border-radius: 8px;
  background-color: rgb(35, 118, 174);
  color: rgba(255, 255, 255, 0.9);
  cursor: pointer;
}

.button {
  border-radius: 8px;
  background-color: rgb(35, 118, 174);
  color: rgba(255, 255, 255, 0.9);
  cursor: pointer;
  height: 31px;
  width: 60px;
}

.login-form button:hover,
.button:hover {
  background-color: rgb(15, 190, 216);
}
